.back-img {
  background-image: url('images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 587.15px;
  top: 104px;
}

.toolbar {
  display: flex;
  color: slateblue;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 7%;
  margin-left: 15px;
}

a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.greeting {
  margin-top: 19%;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 10px;
  color: black;
  margin-left: 15px;
}

.descript {
  font-size: 20px;
  color: black;
  margin-left: 15px;
}

.btn {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: transparent;
  top: 18px;
  left: 408px;
  border: none;
}

.btn:hover {
  enable-background: white;
  background-color: slateblue;
}

.socials {
  margin-bottom: 15px;
  border: none;
  background-color: white;
}

.socials-div {
  margin-left: 15px;
}

.nav-img {
  position: absolute;
  width: 470px;
}

ul {
  border: none;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 117px;
  height: 24px;
}

.github {
  position: absolute;
  left: 14%;
  right: 57.07%;
  top: 73%;
  bottom: 18.87%;
  width: 25px;
  height: 25px;
}

.gmail {
  position: absolute;
  padding-left: 30px;
  top: 74%;
  bottom: 19.21%;
  width: 25px;
  height: 25px;
}

.linkedin {
  position: absolute;
  width: 20px;
  padding-left: 55px;
  height: 20px;
  left: 63px;
  top: 73.4%;
}

li {
  list-style-type: none;
}

.toolbar-img {
  background-image: url('images/Toolbar.png');
  background-repeat: no-repeat;
  width: 470px;
  height: 50px;
  background-size: cover;
}
